<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>Contact</h1>

<h4><strong>Aaron Dang</strong> - Cofounder</h4> 

<address>
    <strong>Email:</strong>   <a href="mailto:adang6@jhu.edu">adang6@jhu.edu</a><br />
    <strong>Phone:</strong> 860-967-6816
</address>

<h4><strong>Kofi Ansong</strong> - Cofounder</h4> 

<address>
    <strong>Email:</strong>   <a href="mailto:kofi.ansong@yale.edu">kofi.ansong@yale.edu</a><br />
    <strong>Phone:</strong> 860-328-5937
</address>

{% endblock %}
